body {
  line-height: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #3c3c3e;
  text-align: center;
  margin: 0px;
}

.clearfix {
	clear: both;
}

a {
  color: #0098ff;
  text-decoration: none;
}

a img {
	border: 0px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  color: #6d6f72;
}

h2 {
  font-size: 1.6em
  color: #6d6f72;
}

h3 {
  font-size: 1.2em;
  color: #3c3c3e;
}

.upcominglunch {
  clear: both;
  margin-bottom: 20px;
}

.upcominglunch img {
  float: left;
  margin-right: 10px;
}

h4 {
  font-size: 1.1em;
  color: #6d6f72;
  margin-bottom: 5px;
}

h5 {
  font-size: 1.1em;
  color: #6d6f72;
}

.grey {
  color: #6d6f72;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.attention {
  color: #0098FE;
}

.headerlogo {
  float: left;
}

.bluebutton,
.greybutton,
.bigbluebutton,
.biggreybutton,
.orangebutton {
	display: inline-block;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: none;
  font-size: 1em;
  background: #0098FE;
  color: #FFF;
  font-weight: bold;
  vertical-align: middle;
  padding: 0 9px;
  margin-right: 1px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  cursor: hand;
  text-decoration: none !important;
}

.orangebutton {
  background: #ff861a;
  color: #FFF;
}

.bigbluebutton,
.biggreybutton {
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  padding: 0 23px;
  Font-family: Helvetica, Arial, sans-serif;
}

.biggreybutton,
.greybutton {
  background: #3C3C3E;
  Font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
  text-align: left;
}

.header {
  height: 75px;
}

.headercontrols {
  float: right;
  height: 40px;
  margin-top: 32px;
  color: #6d6f72;
  font-weight: bold;
}

.headercontrols img {
  vertical-align: middle;  
}

.headercontrols span {
  padding-top: 4px;
  font-size: 0.9em;
  float: right;
}


.pagetitle {
  margin: -28px 0 10px 0;
  font-size: 2.2em;
  font-weight: bold;
  color: #6d6f72;
}

.main {
  padding-top: 70px;
}

.footer {
  clear: both;
  padding-top: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.contactdetails {
  float: left;
  width: 200px;
}

.contactpicture {
  width: 200px;
  height: 200px;
}

.contactpicture img {
  max-width: 200px;
  max-height: 200px;
}

.contactbuttons {
  clear: both;
}

.contactbutton {
  padding: 4px 4px 0 0;
}

.content {
  float: left;
  width: 500px;
  padding-left: 18px;
}

.content h2 {
  margin-top: 0px;
}

.content p {
  margin: 0px;
}

.contentlink {
  color: #0098FE;
  font-size: 0.8em;
  padding-left: 3px;
}

.eventdetails {
  margin: 25px 0;
}

.author {
  padding-top: 10px;
}

.postcommentbox {
  background: #EAEAEA;
  padding: 13px;
  margin-top: 40px;
  width: auto;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

.postcommentbox img {
  float: left;
}

.postcommentbox form {
	margin: 0px;
}

.postcommentbox .textareawrapper {
  width: 400px;
  margin-left: 73px;
}

.postcommentbox textarea {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
  width: 100%;
  height: 60px;
  vertical-align: top;
}

.postcommentbox p {
  margin: 10px 0 0 73px;
}

.postcommentbox img {
	max-width: 60px;
}

.comment {
  margin: 30px 0 0 92px;
  width: auto;
}

.comment img {
  float: left;
  margin-right: 8px;
  max-width: 60px;
}

.participants {
  float: right;
  background: #EAEAEA;
  width: 110px;
  margin: 0px;
  text-align: center;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

.participants div {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 0.9em;
}







.speciallunches {
  float: right;
  width: 204px;
}

.speciallunches a {
  color: #0098FE;
  font-size: 0.8em;
}

.speciallunches table {
  margin-top: 5px;
}

.speciallunches img {
  padding: 0 4px 4px 0;
}

.fadeFieldColor {
	color: #ccc !important;
}

.createlunch {
  margin-top: -10px;
}

.createlunch .topic,
.createlunch .location,
.createlunch .description,
.createlunch .datetime {
  width: 100%;
  font-size: 1.2em;
  color: #6d6f72;
  border-top: 1px solid  #999;
  border-left: 1px solid  #999;
  border-right: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
  margin: 5px 0;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
}

.createlunch .datetime {
  width: 140px;
  padding-right: 5px;
}

.createlunch .location {
  width: 285px;
}

.createlunch .buttonsrow {
  padding: 20px 0;
}

.createlunch .luckytext {
  width: 350px;
  padding-left: 10px;
  font-size: 0.7em;
}


#td {
  margin-top: -4px;
}




#profile img {
  vertical-align: middle;
}

#profile td {
  padding: 0 0 10px;
}

#profile .profileinput,
#profile .fileinput {
  font-size: 1.2em;
  color: #6d6f72;
  border-top: 1px solid  #999;
  border-left: 1px solid  #999;
  border-right: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
  margin: 5px 0;
  vertical-align: middle;
}

#profile .fileinput {
  font-size: 0.8em;
}



.participants img {
  max-width: 60px;
  max-height: 60px;
}


.partners {

}

.partners img {
  margin: 2px;
}

.upcominglunch {
  clear: both;
  margin-bottom: 20px;
}

.upcominglunch img {
  float: left;
  margin-right: 10px;
}



.feedback {
  background: #D4EEFF;
  border: 1px solid #D0DAF8;
  padding: 20px;
  width: 100%;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
}

.feedback .textareawrapper {
  width: 500px;
}

.feedback .textareawrapper textarea {
  width: 100%;
  border: 1px solid #D0DAF8;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
   line-height: 1.2em;

  padding: 0px;
}

.feedback .responsecheckboxtext {
  font-size: 0.9em;
  margin: 10px 0 20px;
}


.listitem {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.listcom {
  display: block;
  width: 400px;
}
.payment {
color: #6d6f72;
font-weight:bold;
}
