grails.serverURL = "http://www.wannalunch.com"

twitter.oauth.consumerKey = ''
twitter.oauth.consumerSecret = ''
twitter.sendTweets = true

mail.sendMails = true
mail.host = "smtp.sendgrid.net"
mail.username = "lunch@wannalunch.com"
mail.password = ""
mail.port = 465
mail.protocol = "smtps"
mail.from = "lunch@wannalunch.com"
mail.defaultEncoding = "UTF-8"

dataSource {
  dbCreate = "update"
  url = "jdbc:postgresql://host:port/dbname"
  driverClassName = "org.postgresql.Driver"
  dialect = org.hibernate.dialect.PostgreSQLDialect
  pooled = true
  username = "sa"
  password = ""
}