grails.serverURL = "http://www.wannalunch.com"

twitter.oauth.consumerKey = ''
twitter.oauth.consumerSecret = ''
twitter.sendTweets = true

mail {
  sendMails = false
  host = ""
  port = 0
  username = ""
  password = ""
}

dataSource {
  dbCreate = "update"
  url = "jdbc:postgresql://host:port/dbname"
  driverClassName = "org.postgresql.Driver"
  dialect = org.hibernate.dialect.PostgreSQLDialect
  pooled = true
  username = "sa"
  password = ""
}